.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
}

@media screen and (max-width:480px){
    .experience{
        display: flex;
        flex-direction: column;
        position: relative;
        transform: scale(0.8);
        padding:30px;
    }

}